@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  margin: 0;
  padding: 0; 
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont,'Ubuntu',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(12, 35, 64);
  border-width: 1px;
  padding: 1rem;
  will-change: transform; /* Optimize for smoother scrolling */
}


h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}


@media (max-width: 715px) {
  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 550px) {
  p {
    font-size: 0.8rem;
  }
}


.sayer-full {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb81c; /* Navy Blue color */
  position: relative;
  display: inline-block;
}


.sayer-full::after {
  font-size: 2rem;
  content: 'SAYER FULL';
  position: absolute;
  top: -0.1rem;  /* Adjust to control shadow offset */
  left: 0.15rem;
  color: rgb(12, 35, 64); /* Yellow shadow color 0c2340 */
}

.item-title {
  border-left-color: rgb(12, 35, 64);
  border-left-width: 1px;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.item-title:hover {
  color: rgb(255, 0, 0);
  border-left-color: rgb(255, 0, 0);
  border-left-width: 3px;
  font-weight: 600;
}


.activeTitle {
  color: rgb(12, 35, 64);
  border-left-color: rgb(12, 35, 64);
  border-left-width: 3px;
  font-weight: 700;
}